
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

@model ProductDTO

<section class="row">
    <section class="col-md-6">

        <form asp-action="Update" method="post" asp-controller="Products">
            <input type="hidden" asp-for="Id" />
            <section class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </section>

            <section class="form-group">
                <label asp-for="Stock"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </section>

            <section class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </section>

            <section class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
            </section>

            <section class="form-group">
                <input type="submit" value="Update" class="btn-primary" />
            </section>
        </form>
    </section>
</section>